<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pims.mapper.PageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pims.entity.Page">
        <id column="page_id" property="pageId" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="level_type" property="levelType" />
        <result column="level_index" property="levelIndex" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="desc" property="desc" />
    </resultMap>

</mapper>
