<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pims.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pims.entity.UserRole">
        <id column="ur_id" property="urId" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>


    <select id="getRoleId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select  *
        from user_role where user_id=#{userId,jdbcType=VARCHAR}
    </select>

    <select id="getRoles" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct
            r.name
        from user_role ur
                 left join role r
                           on r.role_id = ur.role_id
        where ur.user_id = #{userId}
    </select>

</mapper>
